<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스를 Mapper.java 와 동일하게 해놓으면 Mapper.java의 메소드명과 동일하게 호출이 가능하다. -->
<mapper namespace="com.billlog.salsaexample.mapper.InfoMapper">

    <!-- 정보제공성 게시글 등록 -->
    <insert id="createInfoArticle" parameterType="SalsaInfo">
        INSERT INTO salsa_info(
                 city
                , title
                <if test="sub_title != null">
                    , sub_title
                </if>
                <if test="content != null">
                , content
                </if>
                , start_date
                <if test="end_date != null">
                    , end_date
                </if>
                , phone
                <if test="teacher != null">
                    , teacher
                </if>
                , writer
                , type
                )
        VALUES (
                 #{city}
                , #{title}
                <if test="sub_title != null">
                    , #{sub_title}
                </if>
                <if test="content != null">
                    , #{content}
                </if>
                , #{start_date}
                <if test="end_date != null">
                , #{end_date}
                </if>
                , #{phone}
                <if test="teacher != null">
                    , #{teacher}
                </if>
                , #{writer}
                , #{type}
                )
    </insert>

    <update id="modifyInfoArticleByIdx" parameterType="SalsaInfo">
        UPDATE salsa_info
        SET city = #{city}
            <if test="title != null">
                , title = #{title}
            </if>
            <if test="sub_title != null">
                , sub_title = #{sub_title}
            </if>
            <if test="content != null">
                , content = #{content}
            </if>
            <if test="start_date != null">
                , start_date = #{start_date}
            </if>
            <if test="end_date != null">
                , end_date = #{end_date}
            </if>
            <if test="phone != null">
                , phone = #{phone}
            </if>
            <if test="teacher != null">
                , teacher = #{teacher}
            </if>
            <if test="type != null">
                , type = #{type}
            </if>
        WHERE info_idx = #{info_idx}

    </update>

</mapper>
